<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ForumsConnectionString" connectionString="Data Source=LAPTOP-39KJ737P;Initial Catalog=DForum;User ID=bushra;Password=bushra"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
	</system.web>
  <system.net>
    <mailSettings>
      <smtp from="bushrabankotkar@gmail.com">
        <network host="smtp.gmail.com" port="587" password="dawbyat456" userName="bushrabankotkar@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
